<!DOCTYPE html>
<html>
<head>
  <title>Sasslesson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Header 1</h1>
<h2>Header 2</h2>

<div class="container">
  Container div with:
  <h1>A header 1</h1>
</div>

<a href="#">A link</a>

<ul>
  <li>list item 1</li>
  <li>list item 2</li>
</ul>

</body>
</html>
